<!-- <p>about works!</p> -->

<div class="container_fluid main">
  <div class="row inner_main">
    <div class="title col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
      <div class="title_name col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 reveal__content">
        About
        <!-- experience -->
      </div>

    </div>
    <div class="content row col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">

      <div class="cnt row col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 reveal__content">
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 col-12">
          <p>👋 Hello! I'm Deep Patadiya, a passionate Full Stack Web Developer
            with a knack for turning ideas into user-friendly and visually appealing web applications.
            My journey in the tech world has been filled with
            diverse experiences that have honed my skills and ignited my curiosity.
          </p>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 col-12">
          <img src="../../assets/images/meme1.jpg" alt="Source: Pinterest" width="300">
        </div>
      </div>
      <hr>
      <div class="cnt row col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 reveal__content">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 col-12">
          <img src="../../assets/images/meme2.jpg" alt="Source: Imgflip" width="300" style="float: right;">
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 col-12">
          <p>💡 Through various projects, I've honed my skills in
            frontend and backend technologies, such as HTML, CSS, JavaScript, Angular and the MEAN Stack.
            These projects encompass diverse domains, highlighting my proficiency
            in creating user-friendly interfaces and robust backend systems.
          </p>
        </div>
      </div>
      <hr>
      <div class="cnt row col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 reveal__content">
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 col-12">
          <p>📚 My academic journey includes a Bachelor's degree in Computer Engineering,
            complemented by a Diploma in the same field.
          </p>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 col-12">
          <img src="../../assets/images/meme3.png" alt="Source: Seventeen Magazine" width="300">
        </div>
      </div>
      <hr>
      <div class="cnt row col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 reveal__content">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 col-12">
          <img src="../../assets/images/meme4.jpg" alt="Source: Pinterest" width="300" style="float: right;">
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 col-12">
          <p>🚀 Beyond the world of coding, I find delight in cricket,
            indoor games, and delving into the intriguing realm of interstellar space.
          </p>
        </div>
      </div>
      <hr>
      <div class="cnt row col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 reveal__content">
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 col-12">
          <p>🤝 Let's connect and explore possibilities.
            I'm always enthusiastic about contributing my skills to innovative
            ventures and collaborating with fellow professionals.
          </p>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 col-12">
          <img src="../../assets/images/meme5.jpg" alt="Source: Pinterest" width="300">
        </div>
      </div>
      <hr>
      <div style="display: flex; ">
        <i class="fa-brands fa-linkedin">
          <a href="www.linkedin.com/in/deeppatadiya" target="_blank"> LinkedIn</a>
        </i>
        &nbsp;&nbsp;&nbsp;
        <i class="fa-brands fa-github">
          <a href="https://github.com/MrDx24" target="_blank"> GitHub</a>
        </i>
      </div>

    </div>
  </div>
</div>



