<div class="container_fluid main">
  <div class="row inner_main">
    <div class="title col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
      <div class="title_name col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 reveal__content">
        Experience
      </div>

    </div>
    <div class="content row col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">

      <div class="card-holder col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12 reveal__content">
        <div class="card">
        <div class="card-body reveal__content">
          <h4 class="card-title reveal__content">Birlasoft</h4>
          <h6 class="card-subtitle reveal__content mb-2">September 2021 - Present</h6>
          <hr>
          <h6 class="card-text">
            <ul>
              <li>Interacted with clients to understand and address business requirements, ensuring effective communication throughout project lifecycles.</li>
              <li>Delivered innovative solutions, addressing client challenges and enhancing system performance.</li>
              <li>Resolved production environment issues, ensuring seamless operations and client satisfaction.</li>
              <li>Led a project section and participated in projects, driving performance enhancements and successful new implementations.</li>
              <li>Managed change requests of low and medium severity, including migration, testing, and validation, meeting deadlines and quality standards consistently.</li>
            </ul>
          </h6>
        </div>
        </div>
      </div>
      <div class="card-holder col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12 reveal__content">
        <div class="card">
        <div class="card-body reveal__content">
          <h4 class="card-title reveal__content">Skills</h4>
          <h6 class="card-subtitle reveal__content mb-2">Good at</h6>
          <hr>
          <h6 class="card-text">
            <ul>
              <li>Angular</li>
              <li>Javascript</li>
              <li>Java</li>
              <li>NodeJs</li>
              <li>Git and Github</li>
            </ul>
          </h6>
        </div>
        </div>
      </div>
      <div class="card-holder col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12 reveal__content">
        <div class="card">
        <div class="card-body reveal__content">
          <h4 class="card-title reveal__content">Trainings</h4>
          <h6 class="card-subtitle reveal__content mb-2">Degree (2018 - 2021)</h6>
          <hr>
          <ul>
            <li>
              <h4 class="card-title reveal__content">Frankel's InfoTech</h4>
              <h6 class="card-subtitle reveal__content mb-2">1 month | Year : 2017</h6>
              <hr>
              <h6 class="card-text">
                <ul>
                  <li>Industrial Training in Android and Java</li>
                </ul>
              </h6>

            </li>
            <br>

            <li>
              <h4 class="card-title reveal__content">Tech Smart Systems, Pune</h4>
              <h6 class="card-subtitle reveal__content mb-2">2 months | Year : 2019</h6>
              <hr>
              <h6 class="card-text">
                <ul>
                  <li>Data Science Using Python</li>
                </ul>
              </h6>

            </li>
          </ul>
        </div>
        </div>
      </div>
      <div class="card-holder col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12 reveal__content">
        <div class="card">
        <div class="card-body reveal__content">
          <h4 class="card-title">Awards and Winnings</h4>
          <h6 class="card-subtitle reveal__content mb-2">Diploma (2015 - 2018) &  Degree (2018 - 2021)</h6>
          <hr>
          <h6 class="card-text">
            <ul>
              <li>Best Working Model Award | Avishkar 2018, Zeal College of Engineering and Research, Pune</li>
              <li>2nd Place in Just Name It Quiz Competition | Technica 2018, Maeer's MIT Polytechnic, Pune</li>
              <li>2nd Place in Poster Project Presentation | Spectra 2018, Maeer's MIT Polytechnic, Pune</li>
              <li>2nd Place in Bits and Bytes | AISSMS College of Engineering, Pune</li>
            </ul>
          </h6>
        </div>
        </div>
      </div>

    </div>
  </div>
</div>


